<div class="div1">
    <form action='/dbinfos?order=delete' method="post">
        <h3>删除区</h3>
        <p>
            <input type="text" name="hid" placeholder="英雄ID(10000以内)" class="divid">
            <input type="text" name="hname" placeholder="英雄名字">
            <input type="text" name="hattack" placeholder="攻击方式">
            <input type="text" name="hposition" placeholder="战斗位置">
            <input type="text" name="hbackground" placeholder="背景链接" class="bd1">
            <span class="spanBody">
                &nbsp;&nbsp;性别  
                <input type="radio" name="hgender" value="男" class="r1" checked>  男  
                <input type="radio" name="hgender" value="女" class="r1" >  女&nbsp;&nbsp;
            </span>
            <input type="SUBMIT" value="删除" name="delete"  class="btn2">
            <input name="RESET" type="RESET" value="重置" class="btn1">
        </p>
    </form>
</div>