<!DOCTYPE html>
<html>
<head>
    <title>英雄联盟数据库</title>
    <meta charset="utf-8">
    <link href="/static/css/dbsinfo.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="main">
        <div id="tdiv">
            <div class="div1">
                <h1>英雄联盟数据库操作窗口</h1>  
            </div>
            {% include 'addall.html' %}
            {% include 'search.html' %}
            {% include 'addone.html' %}
            {% include 'change.html' %}
            {% include 'delete.html' %}
        </div>
    </div>    
</body>
</html>